<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置数据源信息 -->
    <properties resource="config/jdbc.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
   <!--  <mappers>
        <mapper resource="com/msaapi/dao/mapping/PropertyMapper.xml" />
        <mapper resource="com/yida/wx/count/dao/mapping/UserMapper.xml"/>
    </mappers> -->
</configuration>